/* .mainpage {
    margin:0;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #2E94B5 100%);
} */
    
  