.group {
    padding:15px;
    color:white
}
.form-input{
width: 496px;
height:37px;
padding:10px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 5px;
border:none;
color: rgba(96, 96, 96, 0.8);

}
.label{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff
}

